/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cormorant-garamond-regular - cyrillic */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/cormorant-garamond-v10-cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cormorant-garamond-v10-cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v25-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin_cyrillic-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-italic - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/merriweather-v25-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin_cyrillic-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v25-latin_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin_cyrillic-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin_cyrillic-italic.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v27-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v27-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Start styles header */


.header__logo {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 97px;
}
.header__logo-link {
  margin-right: 44px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
}
.header__link {
  margin-right: 70px;
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #131513;
  text-decoration: none;
}
.header__item:last-child {
  margin-right: 12px;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  opacity: 0, 75;
  color: rgb(158, 130, 130);
}

/* Finish styles header */

/* Start styles main_baner */

.main__baner {
  width: 1920px;
  margin: 0 auto;
  margin-bottom: 113px;
  position: relative;
}

.main__baner-img {
  width: auto;
  margin: 0 auto;
}

.main__title-top {
  position: absolute;
  width: 100%;
  height: 105px;
  left: 518px;
  top: 33px;
}

.main__title-down {
  position: absolute;
  width: 100%;
  height: 105px;
  left: 444px;
  top: 552px;
}

.main__prof-nav {
  width: 1920px;
  margin: 0 auto;
}

.main__title-baner {
  font-family: Merriweather;
  font-style: italic;
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.03em;
  color: #fff;
}
/* Finish styles baner */

/*Start styles main_prof-training */
.main__prof-title {
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  max-width: 1920px;
   margin: 0 auto;
  margin-bottom: 94px;
  color: #0b0e0a;
}
.main__prof-training {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main__prof-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main__prof-item {
  padding: 0 180px;
  display: grid;
}
.main__prof-img {
  margin-bottom: 14px;
}

.main__prof-link {
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto;
  color: #0b0e0a;
  text-decoration: none;
  margin-bottom: 118px;
}
.main__prof-link:hover,
.main__prof-link:active,
.main__prof-link:focus {
  opacity: 0, 75;
  color: rgb(158, 130, 130);
}

/*Finfsh styles main_prof-training */

/*Start styles education */

.education {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/forest.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 1084px;
}

.education__title,
.education__wrapper-contion {
	text-align: center;
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  margin: 0 auto;
  color: #0b0e0a;
}
.education__title {
  max-width: 1920px;
  max-height: 950px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
}
.education {
  height: 1050px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.education__wrapper {
	text-align: center;
}

.education__wrapper-contion {
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 565px;
}

.education__wrapper-contion {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 50px;
}
.down {
  margin-bottom: 275px;
}

.education__wrapper-contion-down {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 95px;
}
/*Finfsh styles education */

/*Start styles training */ 

.training__wrapper {
	text-align: center;
}


/*Finfsh styles training */ 


/*Start styles section_map */
.section__map {
  margin: 0 auto;
  max-width: 1920px;
  height: 650px;
  background: url(../img/map.jpg) no-repeat center;
  background-size: cover;
  margin-top: 131px;
  margin-bottom: 120px;
}
.color-training {
  color: #f6f0f0;
}
.top {
  padding-top: 24px;
}

/*Finfsh styles section_map */

/*Start styles reviews */

.reviews__title-wrepper {
  width: 1012px;
  margin: 0 auto;
  display: flex;
}
.reviews__title {
  width: 1012px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  margin-bottom: 85px;
  color: #0b0e0a;
}
.reviews__section-wrepper {
  padding-right: 59px;
}
.reviews__section {
  width: 300px;
  height: 420px;
  background-color: #c4c4c4;
  margin-bottom: 221px;
}

.reviews__section-img {
  margin-top: 21px;
  margin-bottom: 39px;
  margin-left: 75px;
}

.reviews__section-text {
  width: 247px;
  margin-left: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/*Finfsh styles reviews */

/*Start styles footer */
.footer {
  width: 1055px;
  margin: 0 auto;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fone {
  display: flex;
}
.footer__logo-item {
	margin-right: 24px;
}

.fone__nambor {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #0b0e0a;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 350px;
}

.footer__logo-link {
  margin-left: 30px;
}
.footer__logo-link:last-child {
	margin-right: 0px;
  }
  
/*Finfsh styles footer */

/*Start styles page 2 question */

.question {
	max-width: 1920px;
	min-height: 657px;
	margin: 0 auto;
	background: url(../img/mountains.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 105px;
  }

 .question__title {
	text-align: center;
	margin-bottom: 65px; 
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 140.69%;
 }

 .question__wrapper-contion {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	text-align: center;
	letter-spacing: 0.025em;
	font-variant: small-caps;
	margin-bottom: 45px;
 }

 .question__wrapper-contion-down {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	text-align: center;
	letter-spacing: 0.025em;
	font-variant: small-caps;
	margin-bottom: 130px;
 }

 .textcolor {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 140.69%;
	text-align: center;
	letter-spacing: 0.025em;
	font-variant: small-caps;
	color: #FF0000
 }

  /*Finfsh styles page 2 question */

  /*Start styles page 2 categories */

  .categories__title {
	font-family: Garamond;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	margin-bottom: 80px;

  }
.categories__text {
	display: flex;
	max-width: 960px;
	height: 115px;
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-bottom: 62px;
}
.grin {
	background-color: #E5F6E1;

}
.bleck-grey{
	background-color: #C4C4C4;
	margin-bottom: 128px;
}

.grey {
		background: rgba(196, 196, 196, 0.39);

}

.order {
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;
	/*align-items: center;
	
	justify-content: center;*/
	
}

.order__documents {
	margin-bottom: 132px;
}
.order__condition {
	width: 590px;
}
.categories__title-order {
	width: 590px;
	margin-left: 272px;
	padding-top: 118px;
	font-family: Garamond;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 54px;
	margin-bottom: 37px;

}

.order__text {
	/*margin-bottom: 113px;*/
	width: 590px;
	/*text-align: center;*/
	
	margin-left: 246px;
	/*width: 140px;*/
	/*text-align: center;*/
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 135.19%;
	color: #000;
}

 /*Finfsh styles page 2 categories */



 /*Start styles page 2 materials */
.materials {
	width: 1920px;
	height: 1070px;
	margin: 0 auto;
	background: url(../img/sky.jpg) no-repeat center;
	background-size: cover;

}

.title-top {
	padding-top: 188px;
	margin-bottom: 110px;
}

.materials-text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	margin-bottom: 55px;
}

 /*Finfsh styles page 2 materials */

 /*Start styles page 2 documents */

 .documentation {
	 width: 1920px;
	 margin: 0 auto;
	 margin-bottom: 153px;
	background: rgba(196, 196, 196, 0.17);
 }

.title-down {
	padding-top: 138px;
	padding-bottom: 139px;
}

/*.documentation__page {
	width: 1620px;
	margin: 0 auto;
}*/

.documentation__page-certificate {
	width: 1620px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 139px;
}
.documentation__page-diploma {
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 200px;
}

 /*Finfsh styles page 2 documents */
